<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= '/css/bootstrap.min.css') }}">

</head>

 <style>
  #descr{
    
    text-align: center;
    margin: 1px;
    padding: 1px;
  
  }
 </style>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container"> 
  
      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
        </ul>
        <img src="/static/img/arauco.jpg" alt="logo" height="25" width="100">
      </div>
    </div>
  </nav>

    <div class="container-fluid">
      <div class="row">
        
        <main class="col-md-12 ml-sm-auto">
          <h1>Dashboard</h1>
          <p style="color: grey;font-size: 12px;">Resumen de un área para un periodo de tiempo especifico</p>
        

        <form class="form-inline" method="POST" id="formUser">
  
        <div class="form-group">
            <label for="opciones">Selecciona un área:</label>
            <select class="form-control" name="areas" id="areas" required>
            <option value="" >Seleccione una opción</option>
                {% for op in areas %}
                <option value="{{op}}">{{ op }}</option>
                {% endfor %}
            </select>
        
    
          <label  for="entry-date-ini">Fecha inicial </label>
          <input class="form-control" type="date" name="entry-date-ini" id="entry-date-ini" value="{{fecha_final}}" min="{{fecha_inicial}}" max="{{fecha_final}}">
    
          <label for="entry-date-fin">Fecha final </label>
          <input class="form-control" type="date" name="entry-date-fin" id="entry-date-fin" value="{{fecha_final}}" min="{{fecha_inicial}}" max="{{fecha_final}}">
        </div>
    
          <button id="button" type="submit" class="btn btn-primary"> Enviar</button>
            
        </form>

      </main>

      <div style="min-height: 20px;"></div>
  
      {% if show_data %}
      <div class="container-fluid" id="descr">
        <p>Area : {{area}}</p>
        <p>Fecha inicial : {{fecha_ini}}</p>
        <p>Fecha final : {{fecha_fin}}</p>
    </div>
      {% endif %}

        <div style="min-height: 20px;"></div>
  
        
        
            <div class="col-md-6">
                <div id="chart1">
                  <div class="col-md-1">
                    <!-- {% if graphJSON %}
                    <a href="#" class="btn btn-secondary">Ver más información</a>
                    {% endif %} -->
                  </div>
                 
                  
                </div>

            </div>
            <div class="col-md-6">
                <div id="chart2"></div>  
            </div>         
        
  
        
          <div class="col-md-6">
            <div id="chart3"></div>
          </div>
          <div class="col-md-6">
            <div id="chart4"></div>
          </div>
       
    
  
      </div>

    </div>
   
</body>

<script src="{{ url_for('static', filename='/js/plotly-latest.min.js') }}"></script>

<script type="text/javascript">
    var graphJSON = {{ graphJSON | safe }};
    Plotly.newPlot('chart1', graphJSON.data, graphJSON.layout);
</script>

<script type="text/javascript">
  var graphJSON2 = {{ graphJSON2 | safe }};
  Plotly.newPlot('chart2', graphJSON2.data, graphJSON2.layout);
</script>

<script type="text/javascript">
  var graphJSON3 = {{ graphJSON3 | safe }};
  Plotly.newPlot('chart3', graphJSON3.data, graphJSON3.layout);
</script>

<script type="text/javascript">
  var graphJSON4 = {{ graphJSON4 | safe }};
  Plotly.newPlot('chart4', graphJSON4.data, graphJSON4.layout);
</script>

</html>