<!DOCTYPE html>
<html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= '/css/bootstrap.min.css') }}">
   
    <title>Búsqueda</title>

</head>


<style>
  #chart{
    float: left;
    width: 50%;
  }
  #tabla1 {
    float: left;
    width: 50%;

  }
  #descr{
    text-align: center;
    margin: 1px;
    padding: 1px;
  
  }
</style>


<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container"> 
  
      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
        </ul>
        <img src="/static/img/arauco.jpg" alt="logo" height="25" width="100">
      </div>
    </div>
  </nav>
  
    <div class="container-fluid">

      <div class="row">

        <main role="main" class="col-md-12 ml-sm-auto ">
          
          
          <a class= "btn btn-secondary" href="/">Atrás</a>
          <div style="min-height: 20px;"></div>
          <H2>Módulos más frecuentes por área</H2>
          <h4>Cambios de tipo 'CHANGE'</h4>

          <div style="min-height: 20px;"></div>


          <form method="POST" class="form-inline">
            
            <label for="areas">Selecciona un área:</label>
            <select class="form-control" name="areas" id="areas" required>
              <option value="" >Seleccione una opción</option>
              {% for op in areas %}
              <option value="{{op}}">{{ op }}</option>
              {% endfor %}
            </select>

            <label for="entry-date-ini"> Fecha inicial</label>
            <input class="form-control" type="date" name="entry-date-ini" id="entry-date-ini" value="{{fecha_inicial}}" min="{{fecha_inicial}}" max="{{fecha_final}}">
          
            <label for="entry-date-fin"> Fecha final</label>
            <input class="form-control" type="date" name="entry-date-fin" id="entry-date-fin" value="{{fecha_final}}" min="{{fecha_inicial}}" max="{{fecha_final}}">
          
            <button type="submit" class="btn btn-primary">Buscar</button>

            <div class="spinner-border" id="spinner" style="display: none;"></div>
          </form>

          

        <div style="min-height: 20px;"></div>

        {% if data %}

       

          <div>
            <div  id="descr">
              <p>Area : {{area}}</p>
              <p>Fecha inicial : {{fecha_ini}}</p>
              <p>Fecha final : {{fecha_fin}}</p>
            </div>
            
            <div  id="chart"></div>
            <div  id="dataTable"></div>
      
          <!-- Espacio para la tabla -->
          <div style="min-height: 20px;"></div>


          <div class="container">
            <h4>Resultados de la búsqueda</h4>
            <div class="row">
              <div class="col">

              <table class="table table-bordered" id="dataTable"  cellspacing="0" >
                
                <thead>
                    <tr>
                      <th >Módulo</th>
                      <th >Descripcion del Módulo</th>
                      <th >Número de cambios</th>
                      <th >Detalle</th>
                    </tr>
                </thead>

                <tbody>
                  {% for d in data %}
                  <tr>
                    <td>{{d.Module}}</td>
                    <td>{{d.Module_Description}}</td>
                    <td>{{d.conteo}}</td>
                    <td><a href="/moduleDetails/{{d.Module}}/change/{{fecha_ini}}/{{fecha_fin}}">Ver detalle</a></td>
                  </tr>
                  {% endfor %}
                    
                </tbody>
              </table>
        </div>
      </div>
    </div>
        </div>
        {% endif %}
      </main>

      </div>
    </div>   
        
</body>


<script src="{{ url_for('static', filename='/js/plotly-latest.min.js') }}"></script>
  <script type="text/javascript">
    var graphJSON = {{ graphJSON | safe }};
    Plotly.newPlot('chart', graphJSON.data, graphJSON.layout);
</script>


</html>
