<!DOCTYPE html>
<html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
     integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<style>
  #chart{
    float: left;
    width: 50%;
  }
  #tabla1 {
    float: left;
    width: 50%;

  }
</style>

<body>

    <a class= "btn btn-secondary" href="/">Atrás</a>
    <H2>Modulos más frecuentes para todos los eventos</H2>
    <h4>Tipos includos: 'CHANGE', 'ALARM', 'EVENT'</h4>

    <form class="form-inline" method="POST" id="formm">

      <div class="form-group">

        <label for="opciones">Selecciona un área:</label>

        <select class="form-control" name="opciones" id="opciones" required>
          <option value="" >Seleccione una opción</option>
            {% for op in areas %}
            <option value="{{op}}">{{ op }}</option>
            {% endfor %}
        </select>
      </div>
        
         
        <label for="entry-date-ini">Fecha inicial</label>
        <input class="form-control" type="date" name="entry-date-ini" id="entry-date-ini" value="2022-01-01" min="2019-01-01" max="2022-12-31">
      
        <label for="entry-date-fin">Fecha final</label>
        <input class="form-control" type="date" name="entry-date-fin" id="entry-date-fin" value="2022-01-31" min="2019-01-01" max="2022-12-31">
      
        <button type="submit" class="btn btn-primary"> Enviar</button>
      
        
    </form>

    <div class="container-fluid">
      <div id="chart" style="float: left;"></div>
      <div id="tabla"></div>
  
    </div>

   {% if data %}
   <div class="table-responsive" id="tabla">
    <table id="tabla1"  class="table table-bordered">
        <thead>
          <tr>
            <td style="font-weight:bold">Día</td>
            <td style="font-weight:bold">Módulo</td>
            <td style="font-weight:bold">Descripcion del Módulo</td>
            <td style="font-weight:bold">Número de cambios</td>
            <td style="font-weight:bold">Detalle</td>
          </tr>
        </thead>
        <tbody>
          {% for d in data %}
          <tr>
            <td>{{d.Dia}}</td>
            <td>{{d.Module}}</td>
            <td>{{d.Module_Description}}</td>
            <td>{{d.conteo}}</td>
            <td><a href="/moduleDetails/{{d.Module}}/{{d.Dia}}">Ver detalle</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}

</body>
