<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename= '/css/bootstrap.min.css') }}">
    
    <title>Cambios de usuarios</title>
    
</head>

<style>
  #chart {
    float: left;
    width: 50%;
  }
 
  #dataTable {
    float: left;
    width: 50%;

  }
  #info{
    text-align: center;
  }
</style>

<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container"> 
  
      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
        </ul>
        <img src="/static/img/arauco.jpg" alt="logo" height="25" width="100">
      </div>
    </div>
  </nav>


  <div class="container-fluid">
    <div class="row">
      <main role="main" class="col-md-12 ml-sm-auto">

        <a class= "btn btn-secondary" href="/">Atrás</a>
        <h2>Usuarios que han realizado cambios</h2>
        <h5>Eventos de tipo CHANGE</h5>


        <div style="min-height: 20px;"></div>

        <form class="form-inline" method="POST" id="formUser">

          <div class="form-group">
              <label for="opciones">Selecciona un área:</label>
              <select class="form-control" name="areas" id="areas" required>
              <option value="" >Seleccione una opción</option>
                  {% for op in areas %}
                  <option value="{{op}}">{{ op }}</option>
                  {% endfor %}
              </select>
          
      
            <label  for="entry-date-ini">Fecha inicial </label>
            <input class="form-control" type="date" name="entry-date-ini" id="entry-date-ini" value="{{fecha_inicial}}" min="{{fecha_inicial}}" max="{{fecha_final}}">
      
            <label for="entry-date-fin">Fecha final </label>
            <input class="form-control" type="date" name="entry-date-fin" id="entry-date-fin" value="{{fecha_final}}" min="{{fecha_inicial}}" max="{{fecha_final}}">
          </div>
      
            <button type="submit" class="btn btn-primary"> Enviar</button>
              
          </form>


          
    {% if datos %}
    <div class="container-fluid" id="info">
      <p>Area : {{area}}</p>
      <p>Fecha inicial : {{fecha_ini}}</p>
      <p>Fecha final : {{fecha_fin}}</p>
    </div>
    <div style="min-height: 20px;"></div>


    <!-- Contenedor principal -->
<div class="container-fluid">
  <!-- Div para el gráfico -->
  <div id="chart" class="col-6"></div>
  <!-- Div para la tabla -->
  <div id="space" class="col-12"></div>
      <!-- Div para la tabla -->
  <div id="dataTable"></div>
  <div id="space"></div>
</div>

<div class="container">
  <h4>Resultados de la búsqueda</h4>
  <div class="row">
    <div class="col">

<table class="table table-bordered" id="dataTable">
    <thead>
        <tr>
          <th >Usuario</th>
          <th >Num. cambios</th>
          <th >Detalle</th>
        </tr>
    </thead>
    <tbody>
      {% for d in datos %}
      <tr>
        <td>{{d.Desc1}}</td>
        <td>{{d.Apariciones}}</td>
        <td><a href="/userDetails/{{d.Desc1}}/{{area}}/{{fecha_ini}}/{{fecha_fin}}">Ver detalle</a></td>
      </tr>
      {% endfor %}
        
    </tbody>
</table>
</div>
</div>
</div>
{% endif %}

      

        

      </main>
    </div>
  </div>
  
  
    

  
   

</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{ graphJSON | safe }};
  Plotly.plot('chart',graphs,{});
</script>



</html>


