<!DOCTYPE html>
<html>


<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{ url_for('static', filename= '/css/bootstrap.min.css') }}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

</head>


<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container"> 
      
          <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Inicio </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
              </li>
            </ul>
            <img src="/static/img/arauco.jpg" alt="logo" height="25" width="100">
          </div>
        </div>
      </nav>
    

    <div class="main">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Inicio</h1>
                    <p style="color: grey;font-size: 12px;">Seleccione una opción</p>
                </div>
            </div>

        <!-- <a href="areasymodulos">Áreas y Modulos</a>
        <p></p>
        <a href="/moduleSearch">Buscar por módulo</a> -->
        <p style="color: gray;font-size: 12px;"></p>
        <a href="/frecuentesChangeArea">Módulos de cambios</a>
        <p style="color:grey;font-size:12px;">Lista de modulos de tipo CHANGE más frencuentes</p>

        <a href="/frecuentesJournal">Módulos de alarmas y eventos</a>
        <p style="color:grey;font-size:12px;">Lista de modulos de tipo EVENT y ALARM más frecuentes</p>

        <a href="/frequencyUsers">Usuarios con intervenciones</a>
        <p style="color:grey;font-size:12px;">Lista de usuarios que han hecho cambios en el sistema</p>

        <a href="/dashboard">Dashboard</a>
        <p style="color:grey;font-size:12px;">Resumen de áreas  </p>

        <a href="/loadFiles">Carga de Archivos</a>
        <p style="color:grey;font-size: 12px;">Carga datos MDF</p>

        <a href="/deleteData">Eliminación de datos</a>
        <p style="color:gray;font-size: 12px;">Proceso de eliminación de datos para la fuente de origen (DB)</p>

        <a href="/generalSearch">Búsqueda General</a>
        <p style="color:gray;font-size: 12px;"> </p>
    </div>
             
</body>
</html>