<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Inicio</title>
</head>
<body>

    
    <a href="areasymodulos">Áreas y Modulos</a>
    <p></p>
    <a href="/moduleSearch">Buscar por módulo</a>
    <p style="color: gray;font-size: 12px;"></p>
    <a href="/frecuentesChangeArea">Modulos más frecuentes por área</a>
    <p style="color:grey;font-size:12px;">Lista de modulos de tipo CHANGE más frencuentes por día</p>

    <a href="/frecuentesJournal">Modulos frecuentes general</a>
    <p style="color:grey;font-size:12px;">Lista de modulos de todos los tipos de eventos por cada Área</p>

    <a href="/frequencyUsers">Usuarios que han hecho cambios</a>
    <p style="color:grey;font-size:12px;">Lista de usuarios que han hecho cambios en el sistema</p>

    <a href="/dashboard">Dashboard</a>
    <p style="color:grey;font-size:12px;">Resumen de áreas  </p>

</body>
</html>