<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del modulo</title>
</head>

<style>
    #chart {
      float: left;
      width: 50%;
    }
   
    #table1 {
      float: left;
      width: 50%;
  
    }
  </style>

<body>
    <a href="javascript:history.back()" > Atrás</a>
    <h2>Detalles del módulo {{mod}}</h2>
    <h3>Fecha: {{date_ini}} hasta {{date_fin}}</h3>

    <div class="container-fluid">
        <div id="chart"></div> 
        <div id="table1"></div>
    </div>


     
    
    <table style="border-spacing: 10px;" id="table1">
        <thead>
            <td style="font-weight:bold">Atributo</td>
            <td style="font-weight:bold">Usuario</td>
            <td style="font-weight:bold">Cambios</td>
        </thead>
    <tbody>
        {% for r in rows %}
        <tr>
            <td>{{r.Attribute}}</td>
            <td>{{r.Desc1}}</td>
            <td>{{r.count}}</td>
        </tr>
        {% endfor %}
    </tbody>
        
    </table>
</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{ graphJSON | safe }};
  Plotly.plot('chart',graphs,{});
</script>

</html>